.tripsContainer{
  height:100%;
}


.routeBorders{
  border:2px solid black;
  border-radius: 10px;
  background: rgba(40, 64, 87, 0.301);
  backdrop-filter:saturate(180%) blur(20px);
  min-height: 250px;
}

.addPopup{
  z-index:99;
  width:400px;
  height:450px;
  background:rgba(31, 31, 31, 0.925);
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%,-50%)
}



.routeInteract{
  cursor:pointer;
}

.routeInteract:hover{
  opacity:0.7;
}


